.idea/*
src/__pycache__/*
src/chartlink_import/__pycache__/*
src/data-import/__pycache__/*
src/data-import/nselist/*.csv
src/data-import/profiles/*
src/machine-learning/Algorithms/__pycache__/*
src/machine-learning/regression/__pycache__/*
src/machine-learning/util/__pycache__/*.*
src/machine-learning/util/__pycache__/*
src/sentiment/__pycache__/*
src/machine-learning/test/__pycache__/*
src/machine-learning/util/__pycache__/util*
src/machine-learning/regression/catboost_info/learn_error.tsv
src/machine-learning/regression/catboost_info/time_left.tsv
src/machine-learning/regression/catboost_info/learn/events.out.tfevents
src/machine-learning/regression/catboost_info/tmp/cat_feature_index.12f136e0-11cae47b-2b88d79e-58a5c0e.tmp
src/machine-learning/regression/catboost_info/catboost_training.json
src/output/*
src/reports/__pycache__/*
.vscode/launch.json
src/indian-trading-skills/myenv/*
