crontab -l
30	17	*	*	1,2,3,4	cd /Users/RO001OM/Google\ Drive/git/rohit/src/data-import && /Users/RO001OM/Google\ Drive/git/rohit/src/data-import/importer-historyOI.sh
08	19	*	*	1,2,3,4	cd /Users/RO001OM/Google\ Drive/git/rohit/src/data-import && /Users/RO001OM/Google\ Drive/git/rohit/src/data-import/importer.sh
35	17	*	*	1,2,3,4	cd /Users/RO001OM/Google\ Drive/git/rohit/src/machine-learning/regression && /Users/RO001OM/Google\ Drive/git/rohit/src/machine-learning/regression/regression_run_futures.sh
21	19	*	*	1,2,3,4	cd /Users/RO001OM/Google\ Drive/git/rohit/src/machine-learning/classification && /Users/RO001OM/Google\ Drive/git/rohit/src/machine-learning/classification/regression_run_futures.sh
30	20	*	*	1,2,3,4	cd /Users/RO001OM/Google\ Drive/git/rohit/src/data-import && python /Users/RO001OM/Google\ Drive/git/rohit/src/data-import/S3cripResultImporter.py
50	20	*	*	1,2,3,4	cd /Users/RO001OM/Google\ Drive/git/rohit/src/machine-learning/all && /Users/RO001OM/Google\ Drive/git/rohit/src/machine-learning/all/regression_run_futures.sh